* {
    box-sizing: border-box;
}

body {
    width: 95vw;
    height: 95vh;
}

.corousel-container {
    position: relative;
    left: 50%;
    top: 5%;
    transform: translateX(-50%);
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}
.corousel-container img {
    flex: 0 0 100%;
    transition: transform 1s ease-in-out;
}

.corousel-dots {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}
.corousel-dots li {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: gray;
    list-style-type: none;
    margin-left: 20px;
    display: inline-block;
    cursor: pointer;
}
.corousel-dots li.active {
    background-color: white;
}
