body{
    font: normal 14px/16px "open sans";
}
.todo-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 50vw;
    border:1px solid lightgray;
    padding:20px;
}

.todo-container .todo-input {
    border: 1px solid gray;
    height: 1.8rem;
    width: 95%;
    border-radius: 4px;
}
.todo-container .todo-add-button {
    height: 1.8rem;
    width: 2rem;
    background: lightblue;
    color: white;
    border-radius: 4px;
    border: none;
    position: absolute;
    right: 5%;
    bottom: 5%;
    cursor: pointer;
}
.todo-list-container {
    margin-top: 2rem;
}
.todo-list-container li {
    list-style-type: none;
    padding: 5px;
    border: 1px solid #dfdfdf;
    margin: 1rem 0;
    border-radius: 4px;
    width: 95%;
    position: relative;
}

.input-container {
    position: relative;
}

.todo-container li .action-button-container{
    position: absolute;
    cursor: pointer;
    left: 87%;
    bottom: 8%;
}

.todo-list-container li .remove-button {
    margin-left: 5px;
}

