*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main-container {
    margin: 2.5rem;
}

.create-task input {
    width: 15rem;
    height: 1.5rem;
}

.create-task button {
    padding: 8px;
    background-color: rgb(12, 145, 235);
    border: 0;
    border-radius: 4px;
    color: white;
    font-weight: 600;
}

.task-list-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.task-container {
    width: 30%;
    height: 60vh;
}

.task-list {
    border: 1px solid #dfdfdf;
    box-shadow: 2px 2px 8px #dfdfdf;
    height: 100%;
}


.task-list .task-item {
    list-style-type: none;
    border: 1px solid #dfdfdf;
    padding: 5px 10px 5px 10px;
    margin: 1rem;
}
